matplotlib==3.9.1
seaborn==0.13.2
numpy==1.26.1
pandas==1.5.3
pyarrow==14.0.1
scipy==1.11.3
scikit-learn==1.3.2
spacy==3.7.5
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
asent==0.8.3
textdescriptives==2.8.2
empath==0.89
tqdm==4.66.1
beautifulsoup4==4.12.2
ipykernel==6.29.5